.popBoxWrapper {
    width: 890px;
    height: 540px;
    display: block;
    top: 100px;
    left: 50%;
    padding: 16px 0px 5px 0px;
    position: absolute;
    top: 100px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    float: left;
    z-index: 9999;
    background: #fff;
    font-family: 'Microsoft Yahei';
}

.uc_closed {
    width: 12px;
    height: 12px;
    float: right;
    margin: -7px 10px 0px 0px;
    cursor: pointer;
    background-position: -260px -26px;
}

.dn {
    display: none;
}

.uc_box {
    padding: 0 35px;
}

.uc_box h5 {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    text-align: center;
    padding: 7px 0 8px 0;
}

.uc_box p {
    font-size: 12px;
    color: #585858;
    line-height: 24px;
}

.protocol {
    padding-top: 15px;
}

.protocol a {
    display: inline-block;
    color: #2875cc;
    font-size: 13px;
    padding-bottom: 5px;
}

.protocol div {
    width: 795px;
    height: 75px;
    border: 1px solid #e6e6e6;
    overflow-y: auto;
    padding: 0 14px 0 9px;
    font-size: 12px;
    line-height: 24px;
    color: #333;
}

.protocol div p.btline {
    font-weight: bold;
}

.protocol div p.indent {
    text-indent: 2em;
}

.popBoxBtn {
    text-align: center;
    margin-top: 20px;
    margin-left: 308px;
}

.popBoxBtn .inpNoBtn,
.popBoxBtn .inpBtn {
    padding: 0 20px;
    height: 28px;
    background: #fff;
    line-height: 28px;
    font-size: 14px;
    border-radius: 3px;
    float: left;
}

.popBoxBtn .inpNoBtn {
    border: 1px solid #cacccf;
    color: #555;
    margin-right: 20px;
}

.popBoxBtn .inpNoBtn:hover {
    border-color: #ff4c4c;
    color: #ff4c4c;
}

.popBoxBtn .inpBtn {
    border: 1px solid #ff4c4c;
    text-align: center;
    color: #ff4c4c;
    cursor: pointer;
}

.popBoxBtn .inpBtn:hover {
    background: #fee;
    color: #ee3b3b;
    border: 1px solid #ee3b3b;
}